.git
.npm
.config
.gitignore
README.md
Changelog.md
Dockerfile
docker-compose.yml
.phpunit.result.cache
.gitlab-ci.yml
.bash_history
programmatic-types.graphql
schema-directives.graphql
_lighthouse_ide_helper.php

package.json
package-lock.json
docs

docker/ssl
node_modules
public/hot
public/storage
public/logs/*.log
storage/*.key
vendor
data
logs
