/node_modules
/public/hot
/public/storage
/public/logs/*.log
/storage/*.key
/vendor
/data
/.npm
/.config
/logs
/docker/ssl
/.idea
/docs
.env
.env.behat
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
behat.yml
/laravel-echo-server.json
.composer
.bash_history
programmatic-types.graphql
schema-directives.graphql
_lighthouse_ide_helper.php
